.container {
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: 
    "list  details"
}

.header {
  grid-area: header;
  background: yellow;
}

.footer {
  grid-area: footer;
  background: yellow;
}

.details {
  grid-area: details;
  background: white;
}

.list {
  grid-area: list;
  background: rgb(122, 183, 194);
}

.image-trim {
  position: relative;
  overflow: hidden;
  padding-top: 60%; /* 比率 */
}
.image-trim img {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-trim-2 {
  position: relative;
  overflow: hidden;
  padding-top: 60%; /* 比率 */
}
.image-trim-2 img {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.indent{
  text-indent: 0em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.indent3{
  text-indent: 0em;
  padding-left: 485px;
}

.indent2{
  text-indent: 0em;
  
}

.indent4{
  text-indent: 0em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.indent5{
  text-indent: 0em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 20px;
}

.background {
  background: url(./img/3.jpg) center center / cover no-repeat fixed;
}

.background2 {
  color: white;
  background: url(./img/2.jpg) center center / cover no-repeat fixed;
  font-size: x-large;
  font-style: oblique ;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background3 {
  color: white;
  background: url(./img/1.jpg) center center / cover no-repeat fixed;
  padding-left: 100px;
}

.background4 {
  color: white;
  background: url(./img/4.jpg) center center / cover no-repeat fixed;
  padding-left: 100px;
}

.center {
  text-align: center;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.center2 {
  text-align: center;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar {
  text-align: center;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form {
  text-indent: 0em;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 1em;
  font-size: xx-large;
}

.font {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
}

.link {
  width: '100px';
  padding: '1px';
  margin: '0 6px 6px';
  background: 'blue';
  color: 'white';
  border-radius: 20px;
}

h4 {
  color:blue
}

/* input {}

textarea {
  rows: "10";
} */

.blend-text{
	/* font-size:70px; */
	font-weight:bold;
	color:white;
  mix-blend-mode: screen; /*値を変更すれば様々な効果を与えられます*/
}

.blur{
  -ms-filter: blur(6px);
  filter: blur(6px);
}