.container {
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: 
    "list  details"
}

.header {
  grid-area: header;
  background: yellow;
}

.footer {
  grid-area: footer;
  background: yellow;
}

.details {
  grid-area: details;
  background: white;
}

.list {
  grid-area: list;
  background: rgb(122, 183, 194);
}

.image-trim {
  position: relative;
  overflow: hidden;
  padding-top: 60%; /* 比率 */
}
.image-trim img {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-trim-2 {
  position: relative;
  overflow: hidden;
  padding-top: 60%; /* 比率 */
}
.image-trim-2 img {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.indend{
  text-indent: 1em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.indend3{
  text-indent: 1em;
  padding-left: 485px;
}

.indend2{
  text-indent: 1em;
  
}

.background {
  color: white;
  background: url(./img/3.jpg) center center / cover no-repeat fixed;
}

.background2 {
  color: white;
  background: url(./img/2.jpg) center center / cover no-repeat fixed;
  font-size: x-large;
  font-style: oblique ;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.center {
  text-align: center;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar {
  text-align: center;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
