.container {
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: 
    "list  details"
    
    
}

.header {
  grid-area: header;
  background: yellow;
}

.footer {
  grid-area: footer;
  background: yellow;
}

.details {
  grid-area: details;
  background: rgb(160, 153, 95);
}

.list {
  grid-area: list;
  background: rgb(122, 183, 194);
}